.links-item
    border-bottom: 1px solid #f2f2f2
    display: inline-block
    margin: 5px
    vertical-align: middle

.links-avatar
    display: table-cell
    width: 40px
    vertical-align: middle

.links-info
    display: table-cell
    vertical-align: middle
    padding: 5px
    line-height: normal !important